#about {
    background-image: url(../img/about/bg.svg);
    background-color: #feba03;
    background-size: cover;
}
#about .section_title {
    margin-top: 5rem;
}
.about__text{
    margin: 3rem auto;
    max-width: 120rem;
}
.about__text *{
    text-align: center;
    font-size: 1.6rem;
}
.about__btn {
    margin-bottom: 5rem;
    margin-top: 5rem;
}