@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura_pt_book.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/futura_pt_book.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/futura_pt_book.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/futura_pt_book.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/futura_pt_book.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/futura_pt_book.svg#futura_pt_book') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura_pt_medium.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/futura_pt_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/futura_pt_medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/futura_pt_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/futura_pt_medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/futura_pt_medium.svg#futura_pt_medium') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 600;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futura_pt_bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/futura_pt_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/futura_pt_bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/futura_pt_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/futura_pt_bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/futura_pt_bold.svg#futura_pt_bold') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 800;
}

* {
  box-sizing: border-box
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html, body{
  font-size: 16px;
  font-family: 'Futura PT';
  font-weight: normal;
  font-style: normal;
}

a{
  text-decoration: none;
  transition: all .2s ease-in-out;
}

section{
  padding-left: 12%;
}

h1{
  font-size: 4.7143rem;
  line-height: 6.0714rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

h2{
  font-size: 2.5714rem;
  font-weight: 600;
  line-height: 3.2857rem;
  text-transform: uppercase;
  color: #000000;
  padding-left: 0.3125rem;
}

h3{
  font-size: 1.7143rem;
  line-height: 2.2143rem;
  font-weight: 600;
  color: #000000;
}

h4{
  font-size: 1.4286rem;
  line-height: 1.8571rem;
  font-weight: 600;
  color: #000000;
  margin: 1.5625rem 0;
}

b{
  font-weight: 600;
}

.pl-0{
  padding-left: 0;
}

.pr-0{
  padding-right: 0;
}

.nice_btn{
  text-align: center;
  border-radius: 0.1429rem;
  transition: all .2s ease-in-out;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  max-width: 17.9rem;
  max-height: 4.3rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_black{
  background: #1C0B05;
  color:#fff;
}

.btn_black:hover{
  background: #FEBA03;
  color:#000;
  box-shadow: 0.3571rem 0rem 2.1429rem rgba(0, 0, 0, 0.1);
}

.btn_red{
  background: #E04A38;
  color:#fff;
}

.btn_red:hover{
  background: #000;
  color:#fff;
  box-shadow: 0.3571rem 0rem 2.1429rem rgba(0, 0, 0, 0.1);
}

.btn_yellow{
  background: #FEBA03;
  color:#000;
}

.btn_yellow:hover{
  background: #E04A38;
  color:#fff;
  box-shadow: 0.3571rem 0rem 2.1429rem rgba(0, 0, 0, 0.1);
}

.nice_input, .nice_input::placeholder{
  width: 100%;
  padding: 1.4286rem;
  font-size: 1.2857rem;
  color: #000;
  border-radius: 0.1429rem;
  background: #FFFFFF;
  border: 0.0714rem solid #E5E5E5;
  opacity: 1;
}

.nice_input:not(textarea){
  max-width: 17.9rem;
  max-height: 4.3rem;
}

p{
  margin-bottom: 1.25rem;
}

.spoiler{
  display: inline-flex;
  padding: 0.4375rem;
  width: max-content;
  background: #feba03;
  font-size: 1rem;
  color: #000;
  transition: background-color .3s ease-in-out;
  margin: 1.25rem 0;
}

.spoiler-box .box{
  padding: 1.25rem;
  font-size: 1rem;
  background: #F8FAFC;
  border: 0.0625rem #e8e8e8 solid;
  margin-bottom: 1.25rem;
}

.spoiler-box >  input + .box {
  display: none;
}
.spoiler-box >  input:checked + .box {
  display: block;
}

.spoiler:hover{
  background: #fdd465;
  color: #000;
}

.spoiler img{
  width: 1.875rem;
  margin-right: 0.625rem;
}

textarea{
  resize: none;
  font-size: 1.2857rem;
  color: #000;
  font-family: 'Futura PT';
}

.text{
  font-size: 1.1429rem;
  line-height: 2.2143rem;
  color: #000000;
}

.title{
  font-size: 1.4286rem;
  line-height: 2.7143rem;
  text-transform: uppercase;
  font-weight: 600;
}

.heading-tittle{
  font-size: 1.7rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
  margin: 0.7rem 0;
}

.page-title{
  font-size: 2.6rem;
  line-height: 3.3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
  margin-top: 2rem;
}

.page-title-big{
  font-size: 4.5714rem;
  line-height: 5.8571rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3.5714rem 0;
}

.page-text{
  font-size: 1.1429rem;
  line-height: 1.5rem;
  max-width: 71.1429rem;
}


.vertical-feedback-form{
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 0.125rem;
  box-shadow: -0.0714rem 0rem 1.2857rem -0.6429rem #5d5d5d;
  padding: 3.125rem 2.1875rem;
  height: 100%;
}

.horizontal-feedback-form{
  display: flex;
}
.horizontal-feedback-form input{
 margin-right: 0.625rem;
}
.disclaimer{
  color:#969696;
  font-size: 0.89rem;
  line-height: 1.25rem;
}

.v-middle{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.h-middle{
  position: relative;
  left:50%;
  transform: translateX(-50%);
}

.serv-block__list ul{
  list-style: none;
}

ul.breadcrumb {
  padding: 0.7143rem 1.1429rem;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 1.1429rem;
}

ul.breadcrumb li+li:before {
  padding: 0.5714rem;
  color: #C5C5C5;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #C5C5C5;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #000;
  text-decoration: underline;
}

.contacts__brief{
  margin-top: 1.4286rem;
}

.contact-blocks{
  display: flex;
  margin: 3.5714rem 0;
}

.contact-blocks__block{
  width: 25%;
  display: flex;
}

.block__inner{
  padding: 3rem;
  background: #FFFFFF;
  box-shadow: 0.3571rem 0rem 2.1429rem rgba(0, 0, 0, 0.1);
  border-radius: 0.1429rem;
}

.contacts__social-img{
  width: 3.5714rem;
  height: 3.5714rem;
  background: #E5E5E5;
}
.contacts__social-img svg {
  position: relative;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.contacts__social-text{
  font-size: 1.1429rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #1C0B05;
  padding-left: 0.7143rem;
}

.news__img img{
  width: 100%;
}

.news__date{
  font-size: 1rem;
  line-height: 1.29rem;
  text-transform: uppercase;
  color: #E5E5E5;
  margin-top: 2rem;
}

.news__title{
  font-size: 1.29rem;
  line-height: 1.64rem;
  font-weight: 600;
  color: #1C0B05;
  margin-top: 1.8rem;
}

.news__text{
  font-size: 1.14rem;
  line-height: 1.5rem;
  color: #959595;
  margin-top: 1.8rem;
}

.read-more a{
  line-height: 1.6875rem;
  text-decoration-line: underline;
  color: #1C0B05;
  height: max-content;
}

.read-more a:hover{
  color: #FEBA03;
}

.services-blocks{
  background: #F8FAFC;
  padding-top: 1rem;
  margin-bottom: 1.43rem;
}

.services-blocks:nth-child(1){
  margin-top: 4.3rem;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.items-end{
  align-items: end;
}

.content-center{
  justify-content: center;
}

.content-end{
  justify-content: end;
}

.contacts__form__inputs:not(:last-child){
  margin-bottom: 1.7286rem;
}

.contacts__form__inputs:last-child{
  padding-bottom: 1.4286rem;
}

.contacts__form__inner, .contacts__form__inputs, .contacts__form__inputs textarea{
  height: 100%;
  width: 100%;
  position: relative;
}

.contacts__form__vbr-tg{
  position: absolute;
  font-size: 14px;
}

.about-us__container{
  position: relative;
  flex-direction: column;
}

.about-us__feedback{
  position: absolute;
  top:-3.125rem;
  right: 0;
  height: calc(100% + 50px);
}

#about-bg-image{
  background-image: url('../img/about/image.jpg');
  background-size: cover;
  height: 42.9rem;
}

#news-bg-image{
  background-image: url('../img/news/bg-image.png');
  background-size: cover;
  height: 42.9rem;
}

.serv-more{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  font-size: 0;
  width: 100%;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>div {
  display: none;
  border: 0.0625rem solid #e0e0e0;
  padding: 0.625rem 0.9375rem;
  font-size: 1rem;
}

#tab-btn-1:checked~#tab-content-1,
#tab-btn-2:checked~#tab-content-2,
#tab-btn-3:checked~#tab-content-3,
#tab-btn-4:checked~#tab-content-4 {
  display: flex;
  margin: 0;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #f5f5f5;
  border: 0.0625rem solid #e0e0e0;
  padding-right: 0.625rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 0.0625rem;
}

.tabs>input[type="radio"]:checked+label {
  background-color: #fff;
  border-bottom: 0.0625rem solid #fff;
  color: #000;
  font-weight: 600;
}
.tabs>input[type="radio"]:not(:checked)+label {
  background: none;
  border: none;
  color: #959595;
}

.tabs>input[type="radio"]:checked+label path {
  fill: #000000;
}

.tabs>input[type="radio"]:checked+label .tab-icon {
  background:#FEBA03;
}

.tab-icon{
  width: 3.125rem;
  height: 3.125rem;
  background: #737373;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3125rem;
  transition: background-color .2s ease-in-out;
}

#service-desc{
  position: relative;
}

.service-sqr{
  position: absolute;
  right: 0;
  top:0;
  background: #FEBA03;
  width:33%;
  height: 86%;
}

#how-work{
  background: #F8FAFC;
}

.block-inner{
  padding: 1.25rem;
  height: 100%;
}

.alternating-bg div:nth-child(even)>.block-inner{
  background: #FEBA03;
}

.alternating-bg div:nth-child(odd)>.block-inner{
  background: #fff;
}

.blocks{
  padding: 1.25rem 0;
}

.blocks div>div{
  background: #fff;
}

.video-block iframe{
  width: 100%;
}

#what-we-do .block__text-desc{
  width: 85%;
}

#service-feedback{
  background: #F8FAFC;
}

#news-info{
  background: #F8FAFC;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.news-content{
  width: 70%;
}

.last-news{
  width: 27%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 8.125rem;
  background: #feba03;
  padding-left: 2.5rem;
  padding-bottom: 6.25rem;
}

.last-news ul{
  width: 70%;
}

.date{
  color: #C5C5C5;
  font-size: 1.14rem;
  line-height: 1.25rem;
  margin-top: 3rem;
}

#home{
  width:100%;
  height: 100vh;
  display: block;
}

.feedback-form__home{
  text-align: right;
  padding-bottom: 1.25rem;
}

.left-menu{
  width: 10%;
  min-width: 11rem;
  height: 100%;
  background: #1C0B05;
  box-shadow: 0.3571rem 0rem 0.7143rem rgba(0, 0, 0, 0.3);
  z-index: 5;
  position: fixed;
  transition: all .3s ease-in-out;
}

.left-menu__logo{
  padding: 3.5714rem 0;
  text-align: center;
}

.left-menu-nav>ul{
  list-style: none;
  padding: 0;
  width: 100%;
}

.left-menu-nav li {
  padding-left: 15%;
}

#services_btn span:after{
  content: '';
  border: 5px solid transparent;
  border-left: 7px solid #fff;
  display: inline-block;
  margin-left: 5px;
  transition: all .3s ease-in-out;
}

.left-menu-nav span{
  transition: all .2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.left-menu-nav a>div, .left-menu-nav li>div{
  margin: .7143rem 0;
  width: 100%;
  padding: .7143rem 0;
}

.left-menu-nav a, .left-menu-nav div{
  color: #fff;
  font-size: 1.4286rem;
}

.left-menu-nav span:hover{
  color: #FEBA03;
  text-decoration: underline;
}

#services_btn span:hover:after{
  border-left: 7px solid #FEBA03;
}

.menu-nav__active{
  color: #FEBA03;
}

.menu_active_btn span:hover{
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.menu_active_btn span:hover:after{
  border-left: 7px solid #fff!important;
}

.menu_active_btn span{
  color: #fff;
}

.menu_active_btn{
  background: #FEBA03;
  box-shadow: 0.3571rem 0rem 0.7143rem rgba(0, 0, 0, 0.3);
  color: #fff;
}

.left-menu__contact{
  position: absolute;
  bottom: .57rem;
  margin-left: 1rem;
}

.left-menu__contact__phone{
  font-size: 1.1429rem;
  color: #FEBA03;
}

.left-menu__contact_request a{
  color: #FEBA03;
  text-decoration: underline;
}

.left-menu__contact_request a:hover{
  color: #FFD86F;
}

.left-menu__contact__office{
  color:#fff;
  margin-top: 1.7857rem;
}

.left-menu__extend{
  position: fixed;
  min-height: 100%;
  height: 100%;
  width:38%;
  background: #000;
  transition: left .7s ease-in-out;
  left:-38%;
  z-index: 4;
}

.extend__close{
  position: absolute;
  right:2.1429rem;
  top:1.1429rem;
  text-transform: uppercase;
  color: #6a6a6a;
  cursor: pointer;
}

.extend__close:hover{
  color: #fff;
}

.extend{
  left:10%;
}

.extend__serv{
  display: flex;
  padding-left: 3.5714rem;
}

.serv-block__tittle{
  margin-bottom: 1.2143rem;
}

.serv-block__tittle a{
  font-size: 1.4286rem;
  text-transform: uppercase;
  color: #FEBA03;
}

.serv-block__list a{
  color:#fff;
}

.serv-block__list a:hover{
  color: #FEBA03;
}

.serv-block__list li{
  margin-bottom: 0.7143rem;
}

.serv__column{
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  min-height: 80vh;
  padding-right: 3.5714rem;
}

.home-slider{
  width: 25%;
  height: 128vh;
  z-index: 1;
  background: #FEBA03;
  position: absolute;
  left: 10%;
}

.slide-textblock{
  width: 100%;
}

.slider-nav{
  position: absolute;
  bottom: 1.0714rem;
  left: 12%;
  z-index: 4;
}

.slider-arr{
  position: absolute;
  display: flex;
  bottom: 3.5714rem;
  right: 5%;
  z-index: 4;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.carousel-item {
  position: absolute;
  top: 0;
  display: none;
  color: #fff;
  flex-flow: column;
  justify-content: space-around;
  padding-left: 3.5714rem;
  padding-right: 5.7143rem;
  height: 62%;
  margin-top: 15%;
}

.carousel-item.active {
  display: flex;
  left: 0;
}

.btn_arr_left, .btn_arr_right{
  height: 2.8571rem;
  width: 2.8571rem;
  background: #BFBBBA;
  opacity: 0.3;
  margin-left: 0.7143rem;
  cursor: pointer;
}

.btn_arr_left svg{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.btn_arr_right svg{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.btn_arr_left:hover{
  opacity: 0.5;
}

.btn_arr_right:hover{
  opacity: 0.5;
}

.carousel-navigation-btn {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.carousel-navigation-btn:not(:last-of-type) {
  margin-right: 0.6em;
}

.carousel-navigation-btn:hover, .carousel-navigation-btn.active {
  background: #fff;
}

.text_title{
  font-size: 2.2857rem;
  line-height: 3.2857rem;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0.7143rem;
  font-weight: 600;
}

.text_description{
  font-size: 1.2857rem;
  line-height: 1.6429rem;
  color: #fff;
}

.slide__text-description{
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #959595;
}

.home-main{
  position: absolute;
  width: 65%;
  background: url('../img/image_8.png');
  background-size: cover;
  height: 100vh;
  right: 0;
}

.home-main__mask{
  position: absolute;
  background: #1B1B1B;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home-main__content{
  position: relative;
  display: flex;
  height: 100vh;
  z-index: 1;
}

.second-header{
  position: absolute;
  z-index: 2;
  right: 2.1429rem;
  top: 1.4286rem;
}

.main__links{
  margin-top: 2.8571rem;
  margin-right: 7.1429rem;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.links{
  display: flex;
}

.links-link{
  width: max-content;
  margin-left: 2.1429rem;
  font-size: 1.1429rem;
  line-height: 2.2143rem;
  text-transform: uppercase;
}

.links-link a{
  color: #000;
}

.row{
  margin: 0 0.625rem;
}

.links-link a:hover{
  color: #a4a4a4;
}

.home-main__feedback{
  height: max-content;
  width: max-content;
  position: absolute;
  right: 0;
  margin-right: 7.1429rem;
}

.feedback-title{
  font-size: 4.2857rem;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}

.feedback-form form{
  display: flex;
  justify-content: space-between;
}

.feedback-form__element{
  width:33.33333%;
  padding: 0 0.3571rem;
}

.feedback-form__element input, feedback-form__element button{
  width: 100%;
  border: none;
  opacity: 0.7;
}

.feedback-form__element button{
  background: #FEBA03;
  cursor: pointer;
  height: 100%;
  padding: 0.7143rem;
  width: 100%;
}

.content{
  max-width: 107.1429rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.section-gap{
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 4.5rem;
  padding-bottom: 1rem;
}

.section_title {
  font-size: 2.5714rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.4286rem;
}

.info__blocks{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.blocks__wrap{
  display: flex;
  padding: 1.0714rem;
  width: 50%;
}

.blocks__wrap__block{
  background: #fff;
  width: 100%;
  display: flex;
}

.blocks__wrap__block .block__icon{
  background: #1C0B05;
  width: 10.7143rem;
  height: 10.7143rem;
  flex-shrink: 0;
}

.block__icon img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blocks__wrap__block .block__icon-contacts {
  width: 6.25rem;
  height: 6.25rem;
}

.block__text{
  padding-left: 2.1429rem;
}

.block__text-title{
  font-size: 1.4286rem;
  margin-bottom: 1.4286rem;
  color: #E04A38;
}

.block__text-desc{
  font-size: 1.1429rem;
}

#services{
  background: #f9f9f9;
}

.slide__img img{
  width: 100%;
}
.services__slider{
  display: flex;
  overflow: hidden;
  max-width: 107.1429rem;
  height: max-content;
}

.slider__row{
  display: flex;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  left:0;
  transition: left .5s ease-in-out;
}

.services__slider__slide{
  width: 25%;
  padding: 1.0714rem;
}

.services__slider__nav{
  position: relative;
  height: 2.8571rem;
}

.slider__nav__dots{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  cursor: pointer;
}

.slider__nav__arrows{
  display: flex;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav__dots {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  background: rgb(202, 202, 202);
  border-radius: 50%;
}

.nav__dots:not(:last-of-type) {
  margin-right: 0.6em;
}

.nav__dots:hover, .active_dot {
  background: #FEBA03;
}

.active_btn{
  background: #FEBA03;
  opacity: 1;
}

.slide__inner{
  background: #FFFFFF;
  box-shadow: -0.0714rem 0rem 1.2857rem -0.6429rem #5d5d5d;
  height: 100%;
  position: relative;
  padding-bottom: 8rem;
}

.slide__text{
  padding: 0 2.5rem;
}

.slide__text__title{
  font-size: 1.4286rem;
  color: #FEBA03;
  margin-bottom: 0.5rem;
  margin-top: 1.0714rem;
  font-weight: 600;
}

.slide__text__desc{
  line-height: 2.1429rem;
}

.slide__text__desc span{
  color: #000;
  text-decoration: none;
}

.watch-more{
  color:#000;
  text-decoration: underline;
}

.watch-more:hover{
  color:#FEBA03;
  text-decoration: underline;
}

.slide-link{
  height: 100%;
}

.home-slides .slide__inner{
  background: transparent;
  height: 100%;
  box-shadow: none;
  position: relative;
  padding-bottom: 8rem;
}

.home-slides .slide__inner:hover{
  background: #FFFFFF;
  box-shadow: -0.0714rem 0rem 1.2857rem -0.6429rem #5d5d5d;
}
.home-slides .slide__btn{
  opacity: 0;
}
.home-slides .slide__inner:hover .slide__btn{
  opacity: 1;
}

.services-slides .slide__text__title, .services-slides .slide__text-description,
.news-slides .news__title, .news-slides .news__text{
  transition: color .2s ease-in-out;
}

.services-slides .slide__inner:hover .slide__text__title,
.news-slides .news-block:hover .news__title{
  color: #FEBA03;
}

.services-slides .slide__inner:hover .slide__text-description,
.news-slides .news-block:hover .news__text{
  color: #000;
}

.active-slide .slide__inner{
  background: #FFFFFF;
  box-shadow: -0.0714rem 0rem 1.2857rem -0.6429rem #5d5d5d;
}

.active-slide .slide__btn{
  opacity: 1;
}

.slide__btn{
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 4.4rem;
  width: 100%;
}

.services__show-all{
  width: 100%;
  text-align: center;
  padding-top: 2.1429rem;
  padding-bottom: 1.4286rem;
  height: 8rem;
}

.alternating-rows .rows{
  display: flex;
  margin-top: 2.8571rem;
}

.rows:nth-child(even){
  flex-direction: row-reverse;
}

.alternating-row__img{
  width: 51%;
}

.alternating-row__img img{
  width: 100%;
}

.alternating-row__text{
  width: 49%;
  padding: 3.5714rem;
}

.alternating-row__text__title{
  font-size: 1.7143rem;
  color: #1C0B05;
  font-weight: 600;
}

.break-line{
  margin: 0.7143rem 0;
  height: max-content;
}

.alternating-row__text__desc{
  line-height: 2.2143rem;
}

.alternating-row__text__ul ul{
  margin-left: 2.1875rem;
}

.alternating-row__text__ul li{
  color: #FEBA03;
  margin-bottom: 2rem;
}

.alternating-row__text__ul li span{
  font-size: 1rem;
  line-height: 1.5625rem;
  color: #000;
}

.ul-num ul{
  list-style: decimal;
}

.alternating-row__text__btn{
  position: absolute;
  bottom: -6rem;
  width: 100%;
  height: 4.5rem;
}

#about{
  background-image: url('../img/about/bg.svg');
  background-color: #FEBA03;
  background-size: cover;
}

.about__text{
  padding: 0 11%;
  text-align: center;
}

.about__btn{
  margin: 3% 0;
  height: 3.75rem;
}

.flex-center{
  display: flex;
  justify-content: center;
}

#clients{
  background: #f9f9f9;
}

.container__img__vslider{
  display: flex;
  width: 100%;
}

.clients__img{
  width: 50%;
  flex-shrink: 0;
}

.clients__img img{
  width: 100%;
}

.clients__vslider{
  width: 50%;
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  height: max-content;
}

.vslider__row{
  display: flex;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  left: 0;
  transition: left .5s ease-in-out;
  flex-direction: column;
}

.clients__vslider__slide{
  width: 100%;
  padding: 1.4286rem 0.7143rem;
}

.vslide__inner{
  display: flex;
  background: #FFFFFF;
  box-shadow: -0.0714rem 0rem 1.2857rem -0.6429rem #5d5d5d;
  height: 100%;
  position: relative;
}

.vslide__img{
  width: 20%;
  flex-shrink: 0;
  border: 0.3571rem solid #FEBA03;
}

.vslide__img img{
  width: 100%;
  height: 100%;
}

.vslide__text{
  width: 80%;
  flex-shrink: 0;
  padding-left: 2.1429rem;
}

.vslide__text__inner{
  height: max-content;
  width: 100%;
}

.vslide__text__title {
  font-size: 1.4286rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.clients__ver-slider__nav{
  position: relative;
  height: 2.8571rem;
}

.ver-slider__nav__dots{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  cursor: pointer;
}

.ver-slider__nav__arrows{
  display: flex;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

footer{
  padding-left: 10%;
}

.mobile-footer{
  display:none;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 3.5714rem 3.2143rem;
  flex-wrap: wrap;
}

.footer-block{
  display: flex;
  flex-direction: column;
  width: max-content;
}

.footer-block__title {
  margin-top: 1.4286rem;
}

.footer-block__title a{
  font-size: 1.1429rem;
  line-height: 2.2143rem;
  color: #646464;
  font-weight: 600;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
}

.footer-block__title a:hover{
  color: #FEBA03;
}

footer-block__links{
  display: flex;
  flex-direction: column;
}

.footer-block__links a{
  display: block;
  font-size: 1rem;
  line-height: 1.9286rem;
  color: #959595;
  transition: color .3s ease-in-out;
}

.footer-block__links a:hover{
  color: #000;
}

.footer-block__menu{
  display: flex;
  flex-direction: column;
  margin-top: 1.4286rem;
}
.footer-block__menu a{
  font-size: 1.1429rem;
  line-height: 2.9286rem;
  letter-spacing: 0.04em;
  margin-top: -0.3571rem;
  text-transform: uppercase;
  color: #E04A38;
  transition: color .3s ease-in-out;
}

.footer-block__menu a:hover{
  color:#000;
}

.footer-block__logo{
  text-align: center;
  margin-top: 1.7857rem;
}

.footer-block__social{
  display: flex;
  width: max-content;
}

.social_ico{
  height: 3.4286rem;
  width: 3.4286rem;
  background: #F8FAFC;
  border-radius: 50%;
  margin: 1.4286rem 0.3571rem;
  transition: all .3s ease-in-out;
}

.social_ico:hover{
  background: #FEBA03;
}

.vkon:hover .svg_vkon * {
  fill: #f8fafc;
}

.inst:hover .svg_inst * {
  fill: #f8fafc;
}

.face:hover .svg_face * {
  fill: #f8fafc;
}

.social_ico svg{
  left:50%;
  transform: translate(-50%, -50%);
}

.copyright-block{
  background: #F8FAFC;
  width: 100%;
}

.copyright-inner{
  display: flex;
  justify-content: space-between;
  max-width: 107.1429rem;
  margin: 0 auto;
  padding: 2.1429rem 0.7143rem;
}

.copyright{
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.copyright-block a{
  color: #000;
}

.copyright-block a:hover{
  text-decoration: underline;
}

.m-show{
  display: none;
}

.news-block{
  margin-top: 3.5rem;
}

.header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 2;
  display:none;
  justify-content: space-between;
  background: #1C0B05;
  box-shadow: 0.3571rem 0rem 0.7143rem rgba(0, 0, 0, 0.3);
  padding: 1.4286rem 2.1429rem;
}

.header__menu-btn{
  height: max-content;
  transform: translateY(30%);
}

.sec-nav{
  position: absolute;
  bottom: -3.8rem;
  right: 0.4286rem;
  z-index: 4;
}

.sec-arr{
  position: absolute;
  display: flex;
  bottom: -2rem;
  right: 0.3571rem;
  z-index: 4;
}

.credits__mobile-row{
  flex-shrink: 0;
  width: 100%;
  left: 0;
  position: relative;
}

.credits__nav-dots {
  text-align: center;
  padding: 1.4286rem 0;
}

.clients__mobile-slider{
  width: 100%;
  display:none;
}

.clients__mobile-slider__slide{
  padding: 1.4286rem;
}

@media screen and (max-width: 1680px) {
  .home-main__feedback{
    margin-right: 4rem;
  }
  .home-slider{
    left: 11rem;
  }
  .slider-nav{
    left: 13rem;
  }
  .feedback-title{
    font-size: 3.5rem;
  }
  .carousel-item{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1680px) {
  .feedback-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1366px) {
  .footer-block__logo {
    margin-top: 2.8571rem;
    margin-left: 7.1429rem;
    margin-right: 7.1429rem;
  }
  .content {
    max-width: 92.8571rem;
  }
}

@media screen and (max-width: 1280px) {
  .footer-block__logo {
    margin-top: 2.8571rem;
  }
  .home-main__feedback {
    margin-right: 2.1429rem;
  }
  .links-link {
    font-size: .9rem;
    margin-left: 1rem;
  }
  .footer-block__menu {
    flex-direction: row;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 1.4286rem;
  }
  .footer-block__menu a {
    margin-right: 1.4286rem;
  }
  .content {
    max-width: 78.5714rem;
  }
  .copyright-inner{
    max-width: 78.5714rem;
  }
  .alternating-row__text {
    padding-top: 0;
  }
  .last-news{
    position: inherit;
    width: 99%;
    padding: 1.875rem 2.5rem;
    text-align: center;
  }
  .alternating-row__text__ul ul{
    width: 80%;
    text-align: left;
  }
  .news-content{
    width: 100%;
  }
  .about-us__feedback{
    width: max-content;
    position: relative;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .about-us__container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services__slider__slide {
    width: 50%;
    flex-shrink: 0;
  }
  .services__slider__slide:last-child .slide__inner{
    background: #FFFFFF;
    box-shadow: -0.0714rem 0rem 1.2857rem -0.6429rem #5d5d5d;
  }
  .services__slider__slide:last-child .slide__btn{
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .info__blocks{
    width:50%;
  }
  .blocks__wrap{
    width:100%;
  }
  .last-news {
    width: 100%;
  }
  .text_title{
    font-size: 1.7rem;
    margin: 0;
  }
  .text_description{
    font-size: 1.3rem;
  }
  .slider-nav {
    right: 2.4rem;
    bottom: 16rem;
    left: auto;
  }
  .breadcrumb{
    margin-top: 0;
  }
  .date{
    margin-top: 0;
  }
 .clients__vslider {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .content {
    max-width: 73.1429rem;
  }
  .home-slider{
    padding: 2.1429rem 0;
    left: 0;
    bottom: 0;
    height: max-content;
    width: 100vw;
  }
  .carousel-item{
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: row;
    position: relative;
  }
  .slide-textblock {
    width: 100%;
    text-align: center;
  }
  .home-main {
    width: 100%;
  }
  .left-menu {
    width: 30%;
    left: -35%;
  }
  .feedback-title{
    margin-bottom: 2.1429rem;
  }
  .second-header{
    top: 5.7143rem;
  }
  .feedback-title {
    font-size: 2.5rem;
  }
  .home-main__feedback{
    top: 40%;
  }
  .m-hide, .contacts__about-img, #about-bg-image, #news-bg-image, .second-header{
    display: none;
  }
  .m-show{
    display: block;
  }
  .header{
    display: flex;
  }
  footer{
    padding: 0;
  }
  section{
    padding: 0;
  }
  .left-menu__extend {
    width: 70%;
    left:-70%;
  }
  .extend {
    left: 30%;
  }
}
@media screen and (max-width: 768px) {
  .mobile-footer{
    display: flex;
  }
  .footer-block, .copyright-block, footer .content{
    display: none;
  }
  .footer-block__menu {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer-block__menu a {
    margin: 0;
    font-weight: 600;
    color: #646464;
  }
  .footer-logo{
    margin: 0 auto;
    margin-top: 2.1429rem;
  }
  .footer-block__social, .powered{
    background: #F8FAFC;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .footer-block__logo {
    margin: 0;
  }
  .social_ico{
    margin-top: 0;
    margin-bottom: 0;
  }
  .copyright{
    margin-right: 1rem;
  }
  .powered{
    margin-top: 1.4286rem;
  }
  .social_ico{
    background: #FEBA03;
  }
  .svg_vkon *, .svg_inst *, .svg_face *{
    fill: #f8fafc;
  }
  .politic, .politic a, .powered, .powered a{
    text-align: center;
    color: #000;
    margin: 0;
    padding: 1rem 0;
  }
  .info__blocks{
    width:100%;
  }
  .block__text{
    position: inherit;
    transform: inherit;
    padding-left: 0;
    text-align: center;
    width: 100%;
    padding-top: 1.4286rem;
  }
  .blocks__wrap__block {
    flex-wrap: wrap;
  }
  .blocks__wrap {
    width: 100%;
  }
  .blocks__wrap__block .block__icon {
    width: 100%;
  }
  .about__text{
    padding: 0 11%;
    padding-bottom: 3rem;
    text-align: center;
    overflow: hidden;
    height: 25rem;
    position: relative;
  }
  .about__text:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent, #FEBA03 50%);
  }
  ul.breadcrumb{
    padding-top: 4rem;
  }
  .text_title{
    margin: 0;
    text-decoration: underline;
  }
  .text_description {
    display: none;
  }
  .feedback-title {
    font-size: 2.1429rem;
  }
  .alternating-rows .rows {
    flex-direction: column;
  }
  .alternating-row__text {
    width: 100%;
    height: max-content;
  }
  .text__inner{
    transform: inherit;
    top: 0;
  }
  .alternating-row__img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .extend__close {
    right: 0.7143rem;
    top: 0.1429rem;
  }
  .copyright-inner {
    flex-wrap: wrap;
  }
  .contacts__form__wrap{
    padding: 0;
  }
  .label-text{
    width: min-content;
  }
  .home-main__feedback{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    margin: 0;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
  .feedback-title{
    text-align: center;
  }
  .slider-nav{
    bottom: 8rem;
  }
}

@media screen and (max-width: 666px) {
  .slider-nav {
    bottom: 8rem;
    left: 1.4rem;
  }
  .slider-arr{
    bottom: -2.5rem;
  }
  .header {
    z-index: 6;
  }
  .last-news {
    padding: 1.875rem 0.625rem;
  }
  .label-text{
    font-size: 0.8438rem;
  }
  ul.breadcrumb {
    padding-top: 1rem;
  }
  .fancybox-wrap{
    width:94%!important;
    left: 3%!important;
  }
  .fancybox-inner{
    width: auto!important;
    height: auto!important;
  }
  .page-title-big {
    font-size: 2.5714rem;
    margin: 0.5714rem 0;
  }
  .horizontal-feedback-form {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .horizontal-feedback-form button {
    max-height: 3.5rem;
  }
  .horizontal-feedback-form input {
    margin-right: 0;
    margin-bottom: 0.625rem;
    padding: .8rem 1.4rem;
  }
  .feedback-form__home{
    text-align: center;
  }
  .feedback-title{
    margin-top: 2.8125rem;
    margin-bottom: 0;
  }
  .second-header{
    display: none;
  }
  .left-menu__extend {
    position: fixed;
    overflow: scroll;
    z-index: 5;
  }
  .left-menu__extend {
    width: 100%;
    left: 100%;
  }
  .tabs > input[type="radio"]:checked + label {
    border: 0.0625rem solid #e0e0e0;
  }
  .tabs > label {
    width: 50%;
  }
  .extend__serv {
    flex-direction: column;
    padding-left: 0;
    top: 0;
    transform: inherit;
    padding-top: 4.6429rem;
  }
  .extend {
    left: 0;
  }
  .serv__column {
    padding: 0 1.7857rem;
    width: 100%;
  }
  .left-menu {
    width: 100%;
    left: -105%;
    padding-top: 4.6429rem;
  }
  .left-menu-nav a {
    font-size: 1.7857rem;
  }
  .left-menu__contact {
    font-size: 1.2857rem;
  }
  .left-menu__contact_request a, .left-menu__contact__phone {
    font-size: 1.4286rem;
  }
  .feedback-title {
    font-size: 2.1429rem;
    text-align: center;
  }
  .home-main__feedback{
    width: 100%;
    margin: 0;
  }
  .feedback-form form {
    flex-direction: column;
  }
  .feedback-form__element {
    width: 85%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  .feedback-form__element input {
    text-align: center;
    padding: 1.0714rem;
    margin-bottom: 1.0714rem;
  }
  .text_title {
    font-size: 1.4286rem;
    line-height: 2.5rem;
  }
  .slide-textblock {
    width: 50%;
  }
  .carousel-item {
    flex-wrap: wrap;
  }
  .home-slider {
    padding: 0.7143rem 0;
  }
  .section_title {
    font-size: 1.7857rem;
  }
  .slider__row{
    flex-direction: column;
  }
  .services__slider__slide {
    width: 100%;
  }
  .slide__text {
    text-align: center;
    padding: 0.7143rem 1.7857rem;
  }
  .slide__img, .services__slider__nav, .left-menu__logo, .serv-block__tittle svg, .main__links, .clients__vslider, .clients__ver-slider__nav{
    display: none
  }
  .alternating-row__img {
    width: 95%;
  }
  .alternating-row__text {
    padding: 0 1.0714rem;
  }
  .alternating-rows{
    display: flex;
  }
  .alternating-rows .rows {
    width: 100%;
    flex-shrink: 0;
  }
  .slick-dots li button::before {
    font-size: 2rem!important;
  }
  .slick-dots li.slick-active button::before {
    color: #feba03!important;
  }
  .vslide__inner {
    flex-direction: column;
  }
  .vslide__img {
    width: 100%;
  }
  .vslide__text__inner {
    position: inherit;
    transform: inherit;
    text-align: center;
  }
  .vslide__img img {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .clients__mobile-slider{
    display: block;
  }
  .vslide__text{
    padding: 0;
    text-align: center;
    width: 100%;
    margin-top: 2.1429rem;
    margin-bottom: 1.4286rem;
  }
}

.menu-active{
  left:0;
}

.contacts__feedback .block2:last-child{
  align-items: stretch;
}

.white{
  color: #fff;
}

.black{
  color: #000;
}

.dark-brown{
  color: #1C0B05;
}

.red{
  color: #E04A38;
}

.yellow{
  color:#FEBA03;
}

.grey{
  color: #C5C5C5;
}

.dark-grey{
  color: #828282;
}

.extra-bold{
  font-weight: 800;
}

.li-black li{
  color: #1C0B05;
}