#services {
    background: #f9f9f9;
}
.alternating-row__img img,
.clients__img img,
.slide__img img {
    width: 100%;
}
.services__slider {
    overflow: hidden;
    width: 100%;;
    height: max-content;
}

.services__slider__slide {
    padding: 0;
    width: 35.2rem;
    height: 57rem;
    margin-bottom: 2rem;
}
.services__slider__nav {
    position: relative;
    height: 5rem;
    margin-bottom: 1.6rem;
}
.services__show-all {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    height: 6rem;
}